<!DOCTYPE html>
<html>
<head>
<title>空气质量可视化</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/entrypage_style.css">
</head>
<body>

<div class="header">
  <h1>空气质量可视化</h1>
  <p>这是一个用python语言展示空气质量的简单网站</p>
</div>

<div class="navbar">
  <a href="/index1">2010-2017年世界空气污染程度</a>
  <a href="/index2">2010中国各省空气污染程度</a>
  <a href="/index3">2017中国各省空气污染程度</a>
  <a href="/index4">空气污染程度中澳对比</a>
  <a href="/index5">华北四省绿地与园林面积</a>
  <a href="#">华北地区空气污染程度</a>
  <a href="#">山西省空气污染与天然气供给总量组合图表</a>
  <a href="#">山西省空气污染与绿地园林面积组合图</a>
</div>

<div class="row">
  <div class="side">
      <h2>ABOUT ME</h2>
      <h3>
      <p>姓名：罗佳莼</p>
      <p>班级：网络与新媒体3班</p>
      <p>学号：181042166</p>
      </h3>
      <h2>更多内容</h2>
      <h3>邮箱：1725599271@qq.com</h3>
  </div>
  <div class="main">
      <h2>ABOUT PYTHON</h2>
      <p>- 了解了python基本知识</p>
      <p>- 可以实现列表、字典、元组、flask编程以及购物车的实现</p>
      <p>- 可以将Python Web应用部署到云</p>
      <p>- 略懂mysql的操作</p>
      <p><h3>python真的是很优秀的语言，很高深但也相当方便实用，虽然目前能力不是很强但会继续努力学习！！！</h3></p>
  </div>
</div>

<div class="footer">
  <h2>联系我</h2>
    <a href="1725599271@qq.com">我的QQ邮箱</a>
</div>

</body>
</html>